/*! normalize.css v3.0.1 | MIT License | git.io/normalize */img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;position:relative;vertical-align:baseline}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}
html {overflow-y: scroll;font-family: 'Trebuchet MS',sans-serif;font-size:1em; }
body { margin: 0; font-size:15px;line-height: 1.3;background-color:#EEEEEE;background-color: var(--theme_default_bg);color:#333333;color: var(--theme_default_text);}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
:root {
	--theme_default_bg:#EEE;
	--theme_default_postbg:#DDD;
	--theme_default_postbghighlight:#EEDACB;
	--theme_default_spectext: #800080;
	--theme_default_postnum:#789922;
	--theme_default_border:#d2d2d2;
	--theme_default_text:#333;
	--theme_default_alttext:#5d5d5d;
	--theme_default_link:#FF6600;
	--theme_default_hover:#a74300;
	--theme_default_title:#004A99;
	--theme_default_drag:#ccc;
	--theme_default_spoiler:#BBB;
	--theme_default_icon:#9e9e9e;
	--theme_default_btntext:#333;
	--theme_default_btnbg:#EAEAEA;
	--theme_default_btnborder:#e0e0e0;
	--theme_default_altbtnbg:#f5f5f5;
	--theme_default_btnbghover:#CACACA;
	--theme_default_altbtnbghover:#fff;
	--theme_default_inputtext:#333;
	--theme_nmswitch: #9e9e9e;
	--theme_mpborder: rgb(85, 85, 85);
}
html[data-theme=nightmode] {
	--theme_default_bg: rgb(21, 32, 43);
    --theme_default_postbg: #192734;
    --theme_default_postbghighlight: rgb(21, 32, 43);
    --theme_default_spectext: #800080;
    --theme_default_postnum: #789922;
    --theme_default_border: rgb(56, 68, 77);
    --theme_default_text: #ccc;
    --theme_default_alttext: #7d7d7d;
    --theme_default_link: #c3672a;
    --theme_default_hover: #a74300;
    --theme_default_title: #6995c5;
    --theme_default_drag: rgb(76, 96, 116);
    --theme_default_spoiler: #000000;
    --theme_default_icon: #565656;
    --theme_default_btntext: #ccc;
    --theme_default_btnbg: #192734;
    --theme_default_btnborder: rgb(56, 68, 77);
    --theme_default_altbtnbg: #192734;
    --theme_default_btnbghover: rgb(21, 32, 43);
    --theme_default_altbtnbghover: rgb(21, 32, 43);
    --theme_default_inputtext: #ccc;
    --theme_nmswitch: #c3672a;
    --theme_mpborder: rgb(13, 20, 27);
}
.fullsize, video { max-width: 100%; height: auto; }
hr {clear: both; border: none;border-top: 1px solid var(--theme_default_postbg);height: 0;}
sub {vertical-align: sub;font-size: smaller;}
sup {vertical-align: super;	font-size: smaller;}
td, td img {vertical-align: top;} 
.o { text-decoration: overline; }
.u { text-decoration: underline; }
.s {text-decoration: line-through;}
a, .a-link-emulator {	color:#FF6600;color: var(--theme_default_link);	margin:0;	padding:0;	font-size:100%;	vertical-align:baseline;text-decoration: none;	background:transparent; cursor: pointer; }
a:hover, .a-link-emulator:hover{color:#a74300;color: var(--theme_default_hover);}
a[href*="youtube.com"] {border-bottom: 1px dotted;line-height: 1.5em;}

.debug {display: none;}
.closed-thread {text-align:center;}
.closed-board, .archive-thread {text-align:center; color: red;}
.na {position: fixed;right: 10px;width: 54px;height: 54px;display: none;cursor: pointer;z-index: 999;}
.na_type_up {	top: 40px; background: url(/makaba/templates/img/arrows_up.png) 5px 5px no-repeat;}
.na_type_up:hover {background-position: -54px 5px;}
.na_type_down {bottom: 20px;background: url(/makaba/templates/img/arrows_down.png) -54px 5px no-repeat;}
.na_type_down:hover {background-position: 5px 5px;}


.dice {color: green;font-style: italic;}
.media-thumbnail {padding: 5px;}

.adminbar {margin-bottom:5px;font-size: 0.9em;}
.adminbar__menu {padding:5px; margin:0; list-style:none;overflow:hidden;border-bottom: 1px solid #DDD;border-bottom: 1px solid var(--theme_default_postbg);height: 30px;white-space: nowrap;text-overflow: ellipsis;}
.adminbar__exp {display:none;}
.adminbar__boards {padding:5px; margin:0;}
.adminbar__boards_sticky {position: fixed;top: 0;width: 100%;padding: 5px; background-color: #ddd;background-color: var(--theme_default_postbg);z-index: 999;border-bottom: 1px solid rgba(191, 191, 191, 0.25);transform: translateY(-26px);}
.adminbar__boards_hovered {transform: translateY(0);}
.adminbar__cat {}
.adminbar__slink {margin-right: 5px;}
.nm {display: inline-block;}
.nm__icon { width: 14px;height: 14px; cursor: pointer; vertical-align: middle;fill: #9e9e9e;fill: var(--theme_nmswitch);}
.nm__switcher { display: inline-block;width: 32px;height: 16px; vertical-align: middle;background: var(--theme_nmswitch);border-radius: 10px;padding: 2px;position: relative;    cursor: pointer;}
.nm__bullet {content: '';position: absolute;width: 12px; height: 12px;left: 2px;top: 2px;background: var(--theme_default_bg); border-radius: 100%;transition: .4s;}


.abupost { color: red; 	font-size: 1.1em;text-align: center;}
.adm{ background-image: url("/favicon2.png") !important; background-position: right center !important; background-repeat: no-repeat !important;color: #800080 !important; padding-right: 20px !important; }

/* ============================================================================  START SYSTEM  STYLES  ============================================================================ */
.icon {width:12px;height: 12px;fill:#9e9e9e;fill: var(--theme_default_icon);cursor:pointer; vertical-align: -1px; }
.icon_type_active {fill:#FF6600;fill: var(--theme_default_link);}
.icon_type_spin {-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
.post__btn {outline:none;margin-right: 5px;    width: 13px; height: 13px;-moz-user-select:all;}
.post__btn_type_adm {transform: rotate(180deg);}
.warningbox {
	position: fixed;
	top: 30%;
	width: 600px;
	/*height: 410px;*/
	background-color:#DDD;
	background-color: var(--theme_default_postbg);
	text-align: center;
	left: 50%;
	margin-left: -300px;
	margin-top: -205px;
	padding: 20px 10px;
	font-size: 0.9em;
	z-index: 991;
	border: 5px solid rgba(113, 113, 113, 1);
}
.warningbox__ul {text-align: left;}
.warningcover { position: fixed;background-color: #848484;background-color: var(--theme_default_icon); bottom: 0px;right: 0px;left: 0px;top: 0px;z-index: 990;opacity: 0.95;}
.warningbox__header {font-size: 18px;margin-bottom: 10px;}
.warningboxbutton {margin-top: 10px;}
.warningboxbutton a {margin: 0px auto;font-size: 18px;}

#ageboxdisallow {width: 250px;}

#plashque {font-size: 19px; position: fixed;top: 0px;width: 100%;background: #000 none repeat scroll 0% 0%;margin-left: -8px;opacity: 0.7;box-shadow: 0px 2px 5px 0px #292929;text-align: center;color: #CCC;padding: 7px 50px 7px 7px;}
#mobile-plashque {font-size: 19px;position: fixed;top: 0px;width: 100%;background: rgb(0, 0, 0) none repeat scroll 0% 0%;opacity: 0.9;box-shadow: 0px 2px 5px 0px rgb(41, 41, 41);text-align: center;color: rgb(204, 204, 204);padding: 7px 50px;height: 100%;}
.mob-banner {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 95%;height: auto;}
#plashque-close {margin-right: 10px;cursor: pointer;position: absolute;top: 15px;right: 0px;}

/* ============================================================================ END ============================================================================ */



/* ============================================================================ START inputs ============================================================================ */

.input {padding: 0;	margin: 0; 	border: none; outline: medium none;	padding: 2px 4px;border: 1px solid #e0e0e0;background-color: #f5f5f5;border: 1px solid var(--theme_default_btnborder);background-color: var(--theme_default_altbtnbg);transition: background-color 0.2s ease;color: var(--theme_default_inputtext);}
.input:focus {background-color: #fff;background-color: var(--theme_default_altbtnbghover);}
.button {padding: 2px 6px;border: none;background-color: #EAEAEA; background-color: var(--theme_default_btnbg);cursor: pointer;border: 1px solid #e0e0e0;border: 1px solid var(--theme_default_btnborder);transition: background-color 0.2s ease;color: var(--theme_default_btntext);}
.button:hover {background-color:#CACACA;background-color: var(--theme_default_btnbghover);}
input[type="checkbox"] {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
/* ============================================================================ END  inputs  ============================================================================ */

/* ============================================================================ START header styles ============================================================================ */
.hashlink {padding-right: 5px;}
.logo{text-align: center;clear:both;}
.logo__img {min-height: 100px}
.boardname {margin: 0;text-align: center;}
.style-switcher {font-size:0.9em;}

.search { display: inline-block;font-size: 0.9em;margin-right: 10px;}
.catalog .search {float: roght;margin-right: 0;}
.news {text-align: left;width: 500px;margin: 0 auto;font-size: 0.9em;}
.tti {text-align:center;font-size: 0.9em;}

.tti_info {color:#800080; color: var(--theme_default_spectext);} 

/* ============================================================================ END header stylez ============================================================================ */

/* ============================================================================ START thread styles ============================================================================ */
.cntnt {display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;-webkit-flex-flow: row wrap;flex-flow: row wrap;}
.cntnt__header {flex: 1 100%;-webkit-flex:1 100%; padding-bottom: 5px;}
.cntnt__left {flex: 0 0 250px;-webkit-flex: 0 0 250px;padding: 5px;}
.cntnt__left_sticky { position: sticky; top: 0;height: 100vh;overflow-y: auto;}
.cntnt__right {flex: 1 1;-webkit-flex: 1 1;min-width:0;/*for word-wrap to work*/padding: 5px;}
.thread:after { content: '';border-top: 1px solid var(--theme_default_border); width: 100%;display: block; margin: 8px 0;clear: both;}
.thread__oppost {margin-bottom: 5px;} /* старое обтекание */
.thread__post {margin: 4px 0 4px 0px;	overflow: visible;}
.thread__missed { font-size: 0.9em;color: #5d5d5d;color: var(--theme_default_alttext);margin-left: 20px;}
.post {	padding: 1px 3px 3px;margin: 0;word-break: break-word;word-wrap: break-word;}
.post_type_reply {display: inline-block;max-width:60vw;background: #DDDDDD;background: var(--theme_default_postbg);border: 1px solid var(--theme_default_border);border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; position: relative; margin-left: 20px;}
.post_type_reply:before { content: '...';position: absolute;top: -5px;left: -21px;color: #8c8c8c;color: var(--theme_default_icon);}
.post_preview:before {content: ''}
.post_withimg {    min-width: 600px;}
.post_type_hidden {cursor:pointer; opacity: 0.5 }
.post_type_hidden .post__message, .post_type_hidden .post__refmap, .post_type_hidden .post__images {display: none !important;}
.post_type_last { border-top: 2px solid #FF6600; border-top: 2px solid var(--theme_default_link);}
.post_type_replied { border-left: 2px dashed #FF6600; border-left: 2px dashed var(--theme_default_link);}
.post_type_watched { border-left: 2px solid #FF6600; border-left: 2px solid var(--theme_default_link);}
.post_type_highlight {background-color:#EEDACB;background-color:var(--theme_default_postbghighlight);}
.post__message {overflow: auto;max-height: 620px;margin: 17px;}
.post__message_op {overflow: inherit;max-height: none;margin: 17px 36px;}
.twitter-tweet-rendered {overflow: auto;}
.post__title {background:inherit;font-size:1.1em;	color:#004A99;color: var(--theme_default_title);font-weight:bold;}
.post__anon {cursor:pointer;position: relative;}
/*.post__anon:after {content: ''; background: url(/makaba/templates/img/santa_hat.png); position: absolute;width: 14px;height: 14px; background-size: cover;left: -3px; top: -4px;}*/
.post__ophui {color: green;padding: 0 8px;}
.post__number {color:#789922; color: var(--theme_default_postnum);margin-left:10px;}
.post__detailpart {padding-left:5px;}
.post__reflink { color: #333; color: var(--theme_default_text); text-decoration: none } /*глобальный?*/
.post__details {font-size: 0.9em;color: #5d5d5d; color: var(--theme_default_alttext);}
.post__images {} /* check to del */
.post__image {margin: 0 17px;}
.post__images_type_multi .post__image {display: inline-block;vertical-align: top;} /*!!!!!!!!!!!!!!*/
.post__image-link {float: left;margin: 0 15px 0 0;}
.post__image-link_exp {float: none;}
.post__file-attr {color:#5d5d5d;color:var(--theme_default_alttext);font-size:.8em;margin-top: 4px;}
.post__filezise {display: block;font-size: 0.9em;}
.post__file-nsfw {opacity:0.05;}
.post__file-nsfw:hover {opacity:1;}
.post__file-webm {border: 1px dashed #5d5d5d;border: 1px dashed var(--theme_default_alttext)}
.post__file-close {position: absolute;top:10px;left: 10px;width: 40px;height: 40px;background-color: var(--theme_default_postbg);border-radius: 5px;text-align: center;line-height: 40px;font-weight: bold;color: var(--theme_default_text);opacity: 0.6;}
.post__pomyanem {	color: #800080;	color: var(--theme_default_spectext); font-style: italic;}
.post__close-webm {padding-left: 3px;}
.post__refmap {	font-size:80%;/*font-style:italic;*/white-space: pre-wrap; word-wrap: break-word; padding-left: 17px;}
.post__mod{color:#2266AA;}
.post__adm{color:#800080;}
.post__rate {display: inline-block;cursor: pointer;}
.post__rate_type_like {color:green;}
.post__rate_type_like:hover .post__rate-icon, .post__rate_liked .post__rate-icon {fill:#F60;}
.post__rate_type_dislike:hover .post__rate-icon, .post__rate_disliked .post__rate-icon {fill:#ff0000;}
.post__rate_type_dislike {color:#ff0000;}
.captcha__image {/*min-height: 98px;*/}
.grecaptcha-badge {bottom: 80px !important;}
.expand-large-comment { /*margin: 0 40px; */ cursor: pointer; }
.fm {font-size: 0.9em;margin: 5px 5px 5px 0;padding:0;list-style: none;}
.fm__sub {padding-left: 15px; list-style: none;}
.fm__item {margin-top: 10px;}
.fm__header {background-color: #ddd;background: var(--theme_default_postbg); padding: 1px 2px;margin-bottom: 5px;cursor: pointer;}
.fm__header:hover {background-color: #ccc; background-color: var(--theme_default_border);}
.fm__item:first-child {margin-top: 0;}
.hidefm {text-decoration: none;float: left;margin-right: 10px;}

.abbrev{color:#666666;}
.spoiler, .spoiler a {color: var(--theme_default_spoiler);background-color: var(--theme_default_spoiler);}
.spoiler:hover {color: var(--theme_default_text);background-color: transparent;}
.spoiler:hover a {color: var(--theme_default_link);background-color: transparent;}
.unkfunc{color:#789922;color: var(--theme_default_postnum)}


.thread-nav {font-size: 0.9em;	line-height: 1.5;}
.thread-nav__inner {display: inline-block;}
.thread-nav__stats {float: right;}
.media-expand-button, .media-hide-button {	cursor: pointer;	color: #5d5d5d;color: var(--theme_default_alttext);}
.media-meta-youtube-icon {color:red;}

.media-expand-button, .media-hide-button, .media-expand-loading {	font-size: 10px;	margin-left: 5px;}
/* ============================================================================ END post styles ============================================================================ */



/* ============================================================================ START post forms style + quick reply ============================================================================ */

/* postform bemed*/
.newpost__wrapper{text-align: center;}
.newpost__label {font-size: 1.2em;}

.postform {width: 450px; margin: 0 auto;font-size: 0.9em;text-align: left;}
.postform_qr {width: auto; min-width: 450px;} /* todo  */
.postform__raw {margin: 2px 0;}
.postform__raw_rel {position: relative;}
.postform__raw_flex {display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;}
.postform__label {display: inline-block;vertical-align: middle;width: 50px;cursor: pointer;} /*to del*/
.postform__len {position: absolute;bottom: 3px;right: 10px;opacity: 0.6;}
.postform__sticker-btn {position: absolute;bottom: 3px;left: 3px;opacity: 0.6;cursor: pointer;}
.postform__sticker-prev {position: absolute;bottom: 0px;left: 25px;opacity: 0.6;cursor: pointer;}
.postform__sticker-img {width: 40px;}
.postform__complex {display: inline-block;vertical-align: middle;}
.postform__input {width: 100%; }
.postform__input_type_m {flex: 1 1 auto;-webkit-flex: 1 1 auto;margin-right: 2px;}
.postform__input_type_s { width: 36px;}
.options__box {display: inline-block;	margin-right: 10px;cursor: default;}
.filer__drag-area {height: 50px;border: 2px dashed #CCC;border: 2px dashed var(--theme_default_drag);font-size: 20px;text-transform: uppercase;text-align: center;padding-top: 9px;color: #ccc;color: var(--theme_default_drag);cursor:pointer;}
.filer__drag-area_hover {border: 2px dashed rgb(255, 102, 0);border: 2px dashed var(--theme_default_link);color: #5d5d5d; color:var(--theme_default_alttext);background-color: var(--theme_default_bg)}
.filer__limits {font-size: 11px; color: #5d5d5d; var(--theme_default_alttext);}
.filer__input {display: none;}
.filer__thumb {margin: 2px 10px 2px 0;    border: 1px dashed #ccc; border: 1px dashed var(--theme_default_border);font-size: 0.9em;display: inline-block;position: relative;vertical-align: top;}
.filer__thumb:nth-child(4n+4) {margin-right: 0;}
.filer__img {width: 100px;height: 100px;display: inline-block;cursor: move;}
.filer__meta {position: absolute; width: 100%; background-color: #ddd;background-color: var(--theme_default_postbg);left: 0; bottom: 0;  opacity: 0.8;}
.filer__delete {float: right;margin-right: 5px;cursor: pointer;font-size: 1.4em;}
.filer__nsfw {float: right;margin: 0 5px;cursor: pointer; }
.rules__raw {font-size: 11px;padding: 2px 0;}
.hr_postform {width: 550px;	max-width: 100%;clear: both;}

.toolbar-area {display: none;}

.markup {cursor: pointer;}
.qr {display: none;	position: fixed;background: #DDDDDD;background: var(--theme_default_postbg);border: solid 1px #CCCCCC;border: solid 1px var(--theme_default_border);padding: 2px;z-index: 980;text-align: left;font-size: 0.9em;min-width: 370px;}
.qr_reply {font-size: 1em;}
.qr__header {margin-bottom: 1px;padding: 2px;cursor:move;background: #ADADAD;background: var(--theme_default_spoiler); font-size: 14px;text-align: center;}
.qr__body {}
.qr__footer {text-align: center;font-size: 11px;}
.qr__footer hr, .bb hr {border-color: #ccc; border-color: var(--theme_default_border); margin: 10px 0px 2px;}
.qr__close {float: right;padding: 0 4px;font-weight: bold; cursor: pointer;}

.settings__header {cursor: pointer;	margin: 5px 0; font-weight: bold;}
.settings__prefs {margin-left: 20px;}
.settings__checkbox {margin-right: 4px;}
.settings__edit {display: inline-flex;background-image: url(/makaba/templates/img/edit.png);background-size: cover;width: 14px;height: 14px;vertical-align: middle;margin-left: 7px;}

.error {border: 1px solid #FF0000 !important;}
.oekaki-width, .oekaki-height {width:36px;}


.sticker {max-height:500px;overflow: auto;}
.sticker__pack {padding: 3px;margin-bottom: 5px;overflow:auto;}
.sticker__name {margin-bottom: 3px;}
.sticker__img {width:60px;margin-right:3px;margin-bottom: 3px;cursor:pointer;padding: 2px;vertical-align: top;}
.sticker__update {font-size: 0.8em;cursor:pointer;margin-left: 5px;}

.ah {border-collapse: collapse;}
.ah__header {background-color: #BBB;background-color: var(--theme_default_spoiler)}
.ah__input {width: 90px;}
.ah__input:focus {width: 200px !important;margin: 0 -100px !important;-moz-appearance: none;-webkit-appearance: none;appearance: none;border: 1px #888 solid!important;box-shadow: 0 0 5px black;position: relative!important;-webkit-transition: width 1s ease;-moz-transition: width 1s ease;-o-transition: width 1s ease;-ms-transition: width 1s ease;transition: width 1s ease;text-overflow: ellipsis;z-index: 999;}
.ah__cell {margin: 5px 0;min-width: 101px;padding: 3px 5px;border: 1px solid #F5F5F5;border: 1px solid var(--theme_default_altbtnbg);text-align: center;vertical-align: middle;}
.ah__cell:nth-child(1) {min-width: 50px;}
#setting-editor-textarea-textarea {width: 100%;min-height: 100px;}
#setting-editor-singleinput-input {width: 100%;}
#setting-editor-body {max-height: 400px;overflow: auto;}


.bb {display: none;min-width: 220px;position: fixed;bottom: 0;right: 80px;font-size: 0.85em;background-color: #dddddd;border: solid 1px #CCCCCC;background-color: var(--theme_default_postbg);border: solid 1px var(--theme_default_border);border-bottom: none; border-radius: 3px 3px 0 0;}
.bb__tabs {    list-style: none;margin: 0 0 10px 0;padding: 0;position: relative; z-index: 1;overflow: auto;top: -1px;left: -1px;}
.bb__tab {float: left;padding: 4px 8px;cursor: pointer;    font-weight: bold;border-radius: 0 0 8px 8px;border: 1px solid var(--theme_default_border);background: -webkit-linear-gradient(top, var(--theme_default_postbg) 50%, var(--theme_default_border) 100%);margin-right: 2px;background: -o-linear-gradient(top, var(--theme_default_postbg) 50%, var(--theme_default_border) 100%);background: -ms-linear-gradient(top, var(--theme_default_postbg) 50%, var(--theme_default_border) 100%);background: -moz-linear-gradient(top, var(--theme_default_postbg) 50%, var(--theme_default_border) 100%);}
.bb__tab_active {    border-top: 1px solid var(--theme_default_postbg);  background: var(--theme_default_postbg);}
.bb__panels {   }
.bb__panel {border-bottom: 1px solid var(--theme_default_border);padding: 4px; max-height: 60vh;overflow: auto;}
.bb__header {padding: 6px; font-size: 14px; text-align: center;cursor: pointer;margin-right: 20px;}
.bb__header_new {font-weight: bold; color: #FF6600;color: var(--theme_default_link);}
.bb__update  {position: absolute;right: 7px;top: 9px;cursor: pointer;} /* new */
.bb__row {margin:2px 0;}
.bb__footer {text-align: center;font-size: 11px;}
.bb__bstitle  {text-overflow: ellipsis;display: inline-block;vertical-align: middle;max-width: 350px;white-space: nowrap;overflow: hidden;}
.fav__new {margin-right: 5px;min-width: 23px;display: inline-block;text-align: center;}
.fav__fa {margin-right: 5px;cursor: pointer;}
.fav__title_type_deleted {text-decoration: line-through;}
.fav__title_type_updated {font-weight: bold;}

#fullscreen-container {position: fixed;display: none;padding: 24px 8px 8px;box-sizing: content-box;z-index: 983;background-color: rgb(85, 85, 85);background-color: var(--theme_mpborder)}
#fullscreen-container:after {content: attr(data-mediainfo);position: absolute; width: 100%;top: 4px;left: 0;text-align: center;color: var(--theme_default_drag);font-size: 0.9em;cursor: move; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#fullscreen-container-controls {display:none;font-size: 0.8em;cursor: pointer;}

/* ============================================================================ END post forms style + quick reply ============================================================================ */


/* ============================================================================ START footer ============================================================================ */

.footer__info {text-align:center;font-size:12px;margin:2em 0 0 0;}
.footer__speed {	margin-bottom: 20px; }
.mmm {display: flex;justify-content: center;}
.mmm__img {max-width: 100%;}
.vk-group {width: 468px; margin:auto;}
.pager {margin-bottom: 10px;	background-color: #DDDDDD;background-color: var(--theme_default_postbg); border: solid 1px #CCC; border: solid 1px var(--theme_default_border);	display: inline-block;	padding: 8px;	font-size: 0.9em;}
.nb {margin: 0 auto;font-size: 0.9em;}
.nb__data {width: 60%;margin: 0px auto;-moz-column-count: 2;-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-gap: 20px;-moz-column-gap: 20px;column-gap: 20px;}
.nb__item {/*display: inline-block; */margin-bottom: 4px; vertical-align: text-top;}
.nb__switcher {text-align: center;margin-bottom: 10px;}
.nb__switcher_active {color: inherit;}

/* ============================================================================ END footer ============================================================================ */

/* ============================================================================ FONT AWESOME ========================================================================== */
.alert {position: fixed;top: 4px;right: 4px;z-index: 9999;cursor: default;font-size: 0.9em;padding: 4px 8px;background-color: #ccc;background-color: var(--theme_default_postbg);transition: all 0.2s ease;}
.modal {position:absolute;background-color: #ccc;background-color: var(--theme_default_postbg);border-radius: 2px;padding:0;margin:0;z-index:9999;cursor:pointer;width:auto;min-width:0;border:1px solid #CCC;border:1px solid var(--theme_default_border);font-size: 0.9em;}
.modal a {display:block;padding: 3px 10px;font:13px arial;color: inherit;white-space:nowrap;text-decoration:none;}
.modal a:hover {background:#666;color: #fff;}
.modal a.mod-action-massban {color: red; }
.mod-ban, .modal_type_report {padding: 3px ;}
.mod-ban div {margin-bottom:3px;}
.mod-ban #banreason {vertical-align: top;}
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;left:.5em;top:.3em}
.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget.ui-widget-content{border:1px solid #c5c5c5}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:bold}.ui-widget-header a{color:#333}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#454545;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #ccc;background:#ededed;font-weight:normal;color:#2b2b2b}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#2b2b2b;text-decoration:none}.ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214)}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#fff}.ui-icon-background,.ui-state-active .ui-icon-background{border:#003eff;background-color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620}.ui-state-checked{border:1px solid #dad55e;background:#fffa90}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("../img/ui-icons_444444_256x240.png")}.ui-widget-header .ui-icon{background-image:url("../img/ui-icons_444444_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url("../img/ui-icons_555555_256x240.png")}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url("../img/ui-icons_ffffff_256x240.png")}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url("../img/ui-icons_777620_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-button .ui-icon{background-image:url("../img/ui-icons_777777_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-caret-1-n{background-position:0 0}.ui-icon-caret-1-ne{background-position:-16px 0}.ui-icon-caret-1-e{background-position:-32px 0}.ui-icon-caret-1-se{background-position:-48px 0}.ui-icon-caret-1-s{background-position:-65px 0}.ui-icon-caret-1-sw{background-position:-80px 0}.ui-icon-caret-1-w{background-position:-96px 0}.ui-icon-caret-1-nw{background-position:-112px 0}.ui-icon-caret-2-n-s{background-position:-128px 0}.ui-icon-caret-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-65px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-65px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:1px -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px}.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{-webkit-box-shadow:0 0 5px #666;box-shadow:0 0 5px #666}


/* arhive */

.adminbar-top, .favorites, .boardstats {display: none !important;}
.post.reply {    display: inline-block;max-width: calc(100vw - 290px); background: #DDDDDD;background: var(--theme_default_postbg); border: 1px solid var(--theme_default_border);border-radius: 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; position: relative;margin-left: 20px;}
.post-wrapper {    margin: 6px 0;}
.content {    display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
.content__left {    flex: 0 0 250px;-webkit-flex: 0 0 250px;padding: 5px;}
.content__right {    flex: 1 1; -webkit-flex: 1 1;min-width: 0;padding: 5px;}

/* desktop - скрыт онли в мобайл версии. mobile - скрыт в десктоп версии, блочный в мобильной */
.mobile {	display: none;}

@media only screen and (max-width: 1600px) {
	.post_type_reply {max-width: 70vw;}
}
@media only screen and (max-width: 1300px) {
	.post_type_reply {max-width: 80vw;}
}
@media only screen and (max-width: 1023px) {
	.post_type_reply {max-width: 100vw;}
	.post_withimg { min-width: auto; }
}
@media only screen and (max-width: 720px) {
	.cntnt__left {display: none;}
}
@media only screen and (max-width: 480px) {
	.adminbar__boards {    transform: translateY(0);}
	.boardname { margin-top: 30px;}

	body {padding: 0;font-size: 0.8em;}
	.na {display: none !important;}
	.desktop {	display: none !important;}
	.mobile {display: initial !important;	clear: both !important;	}
	.logo {	font-size: 1.5em !important;}
	.passcode-banner-mob {display: block !important;}
	#postform .mail input[type="text"], #postform td select#anoniconsselectlist, #postform td #shampoo, #postform td input#subject  {
		width: 100% !important;
		min-width: 233px;
	}
	.modal_type_report {left: calc(50vw - 100px) !important;font-size: 1.4em;}
	#postform .name #name, #postform td input#subject {	margin-bottom: 2px;	}
	.adminbar {	overflow: auto;	}
	.postform {width:100%;}
	.post-wrapper, .thread__post {	margin: 4px 0;padding: 0 10px;}
	.post_type_reply {width: 100% !important;	min-width: 100% !important;	padding: 0;margin-left:0;}
	.post_type_reply:before {content: ''}
	.post .post-details, .post__details {background: #D1D1D1;background: var(--theme_default_postbg); padding: 5px;overflow: hidden;font-size: 1em;}
	.post .images {margin-bottom: 5px;}
	.post .posttime-reflink {float: right;}
	.post__message {margin:10px 5px;}
	.file-attr {font-size:1em;}
	.file-attr .filesize {font-size:1.1em;}
	.oppost-options-mob {overflow: auto; padding: 5px; background: #D1D1D1;background: var(--theme_default_postbg);display: flex !important;justify-content: space-between;}
	.post_type_oppost {background: #DDDDDD; background: var(--theme_default_postbg);overflow: hidden;padding: 0;}
	.posts  hr {margin-top: 30px !important;margin-bottom: 30px !important;}
	.posts  hr:last-of-type, .thread-nav-mob + hr {margin:0.5em auto !important;}
	.qr-reply .captcha-image img { width: 100px; height: auto;}
	.post__file-preview {max-width: 110px;height: auto;}
	.qr {min-width: 0;	width: 90%;left:5%;font-size: 0.9em;position: absolute;}
	.qr-reply .qcomment {min-width: 0;}
	.form-files-box .form-files-drag-area {height: 25px; font-size: 12px; padding-top: 4px;}
	.hidden-thread-box {margin-left: 0 !important; 	padding: 5px;}
	/* boards list */
	.menu-links-mob {float: right !important;}
	/* buttons up down back answer */
	.thread-nav-mob {display: block !important; text-align: center !important;}
	.send-mob {text-align: center;margin: 3px 0;}
	.button-mob {
		float: none !important;
		border-radius: 3px;
		padding: 6px 10px 5px 10px !important;
		font-weight: bold;
		background-color: #DDDDDD;
		border: 1px solid #CCCCCC;
		background-color: var(--theme_default_btnbg);
    	border: 1px solid var(--theme_default_btnborder);
		user-select: none;
		background-repeat: repeat-x;
		color: #FF6600;
		color: var(--theme_default_link);
		display: inline-block !important;
		cursor: pointer;
	}
	#LakeNavForm {    color: var(--theme_default_text);}
	
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou 
**/

@keyframes pulse { from { transform: scale3d(1, 1, 1); } 50% { transform: scale3d(1.3, 1.3, 1.3); } to { transform: scale3d(1, 1, 1);  }}
.loading {width: 45px;top: 50%;left: 50%;position: absolute;animation: pulse 0.7s linear infinite;}

@-moz-keyframes rbtrip_eee { from { background-position:top left; } to {background-position:top right; } }
@-webkit-keyframes rbtrip_eee { from { background-position:top left; } to { background-position:top right; } }
@-o-keyframes rbtrip_eee { from { background-position:top left; } to { background-position:top right; } }
@-ms-keyframes rbtrip_eee { from { background-position:top left; } to { background-position:top right; } }
@-khtml-keyframes rbtrip_eee { from { background-position:top left; } to { background-position:top right; } }
@keyframes rbtrip_eee { from { background-position:top left; } to { background-position:top right; } }
.rbtrip{
  background-image:-webkit-linear-gradient( left, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red );
  background-image:-moz-linear-gradient( left, red, orange, yellow, green, blue,indigo, violet, indigo, blue, green, yellow, orange,red );
  background-image:-o-linear-gradient( left, red, orange, yellow, green, blue,indigo, violet, indigo, blue, green, yellow, orange,red );
  background-image:-ms-linear-gradient( left, red, orange, yellow, green, blue,indigo, violet, indigo, blue, green, yellow, orange,red );
  background-image:-khtml-linear-gradient( left, red, orange, yellow, green, blue,indigo, violet, indigo, blue, green, yellow, orange,red );
  background-image:linear-gradient( left, red, orange, yellow, green, blue,indigo, violet, indigo, blue, green, yellow, orange,red );
  -moz-animation:rbtrip_eee 2.5s forwards linear infinite;
  -webkit-animation:rbtrip_eee 2.5s forwards linear infinite;
  -o-animation:rbtrip_eee 2.5s forwards linear infinite;
  -khtml-animation:rbtrip_eee 2.5s forwards linear infinite;
  -ms-animation:rbtrip_eee 2.5s forwards linear infinite;
  -lynx-animation:rbtrip_eee 2.5s forwards linear infinite;
  animation:rbtrip_eee 2.5s forwards linear infinite;
  background-size:50% auto;
  color: white;
font-weight: bold;
font-size: 16px;
}


.rainbow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font-size: 22px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 0 0 rgb(217,31,38) , 2px 0 0 rgb(226,91,14) , 3px 0 0 rgb(245,221,8) , 4px 0 0 rgb(5,148,68) , 5px 0 0 rgb(2,135,206) , 6px 0 0 rgb(4,77,145) , 7px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:hover {
  text-shadow: -1px 0 0 rgb(217,31,38) , -2px 0 0 rgb(226,91,14) , -3px 0 0 rgb(245,221,8) , -4px 0 0 rgb(5,148,68) , -5px 0 0 rgb(2,135,206) , -6px 0 0 rgb(4,77,145) , -7px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes anim {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
.rainbow-alt {
	color: #FFFFFF;
	animation-name: anim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	font-weight: bold;
	font-size: 18px;
	padding: 0px 3px;
	background: pink;
	position: relative;
	margin-right: 40px;
	padding-right: 10px;
	    overflow: auto;
}
.rainbow-alt::after {
    content: '';
    background: url("/images/mamegoma.png");
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
}

.trip-style-paket {
	color: #FFFFFF;
	animation-name: anim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	font-weight: bold;
	font-size: 16px;
	padding: 0px 3px;
	background: #5f5f5f;
	position: relative;
	margin-right: 40px;
	padding-right: 10px;
}
.trip-style-paket::after {
    content: '';
    background: url("/images/trip30/10.png");
    position: absolute;
    width: 30px;
	height: 30px;
	top: -5px;
	right: -20px;
}

.trip-style-felasof {
	color: #FFFFFF;
	animation-name: anim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	font-weight: bold;
	font-size: 16px;
	padding: 0px 3px;
	background: #5f5f5f;
	position: relative;
	margin-right: 40px;
	padding-right: 10px;
}
.trip-style-felasof::after {
    content: '';
    background: url("/images/trip30/9.png");
    position: absolute;
    width: 30px;
	height: 30px;
	top: -5px;
	right: -20px;
}
.trip-style-zzzap {
	color: #44819E;
	font-weight: bold;
	font-size: 16px;
	padding: 0px 3px;
	position: relative;
	margin-right: 40px;
	padding-right: 10px;
}
.trip-style-zzzap::after {
    content: '';
    background: url("/images/trip30/8.png");
    position: absolute;
    width: 30px;
	height: 30px;
	top: -5px;
	right: -15px;
}

.trip-style-ploha {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding: 0px 3px;
	background: #50d400;
	position: relative;
	margin-right: 40px;
	padding-right: 10px;
}
.trip-style-ploha::after {
    content: '';
    background: url("/images/trip30/6.png");
    position: absolute;
	width: 30px;
	height: 30px;
	top: -5px;
	right: -20px;
}

@-webkit-keyframes boingInUp{
	0%{
		opacity:0;
		-webkit-transform-origin:50% 0%;
		-webkit-transform:perspective(800px) rotateX(-90deg);
	}

	50%{
		opacity:1;
		-webkit-transform-origin:50% 0%;
		-webkit-transform:perspective(800px) rotateX(50deg);
	}

	100%{
		opacity:1;
		-webkit-transform-origin:50% 0%;
		-webkit-transform:perspective(800px) rotateX(0deg);
	}

}

@keyframes boingInUp{
	0%{
		opacity:0;
		transform-origin:50% 0%;
		transform:perspective(800px) rotateX(-90deg);
	}

	50%{
		opacity:1;
		transform-origin:50% 0%;
		transform:perspective(800px) rotateX(50deg);
	}

	100%{
		opacity:1;
		transform-origin:50% 0%;
		transform:perspective(800px) rotateX(0deg);
	}

}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; 
}




